{% extends 'MainBundle:Default:base.html.twig' %}

{% block body %}
<form action="{{ path('product_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

<div>
    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
</div>

<div>
    {{ form_label(form.price) }}
    {{ form_errors(form.price) }}
    {{ form_widget(form.price) }}
</div>

<div>
    {{ form_label(form.description) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description) }}
</div>

<div>
    {{ form_label(form.category) }}
    {{ form_errors(form.category) }}
    {{ form_widget(form.category) }}
</div>

    {{ form_rest(form) }}

    <input type="submit" />
</form>
{% endblock %}
