{% extends 'MainBundle:Default:base.html.twig' %}

{% block title 'My Products' %}

{% block body %}
<table>
    {% for product in products %}
        <tr{% if loop.index is odd %} class="odd"{% endif %}>
            <td><a href="{{ path('product_show', { 'product_slug': product.slug }) }}">{{ product.id }}</a></td>
            <td>{{ product.name|upper }}</td>     
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
        </tr>
    {% else %}    
        <tr>
            <td>No Products Found!</td>
        </tr>
    {% endfor %}
</table>

<a href="product/new">Create a new Product</a>
{% endblock %}
